@model IEnumerable<JmSantosAT_Final_Rafael.Models.Amigo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Nome
            </th>
            <th>
                Sobrenome
            </th>
            <th>
                Telefone
            </th>
            <th>
                 Email
            </th>
            <th>
                Data de Aniversário
            </th>
            <th>
                País de origem
            </th>
            <th>
                Estado do país
            </th>
            <th>
                Foto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AmigoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmigoSobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmigoTelefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmigoEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AniversarioAmigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaisAmigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoAmigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagemAmigo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AmigoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AmigoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AmigoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
